<%= simple_form_for @booking, url: bookings_path, method: :post do |f| %>
  <p>Selected Flight: <%= @flight.start_datetime %> - <%= @flight.departure_airport.name %> to <%= @flight.arrival_airport.name %></p>
  <% passenger_count = @passenger_count || 1 %>
  <%= f.hidden_field :flight_id, value: @flight.id %>
  <%= f.input :num_passengers, as: :hidden, input_html: { value: passenger_count } %>
  <%= f.fields_for :passengers do |passenger_fields| %>
    <div class="passenger-fields">
      <%= passenger_fields.label :name, "Passenger Name" %>
      <%= passenger_fields.text_field :name %>
      <%= passenger_fields.label :email, "Passenger Email" %>
      <%= passenger_fields.email_field :email %>
    </div>
  <% end %>
  <%= f.button :submit, 'Continue to Booking' %>
<% end %>
